<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-wKc7M7g4erzpcD5T35E2pCaegoye_aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>476342324498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.radioApp</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-abcb2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-abcb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476342324498:ios:93cb3f23246d91767077cb</string>
</dict>
</plist>